<label for="newDataset">Insira o nome: </label>
<input name="newDataset" type="text" 
[(ngModel)]="newName"
>

<button (click)="criarDataset($event)" >Criar dataset</button>
<button *ngIf="selectedDataset?.data[0]"
(click)="saveDataset($event)" >Salvar dataset</button>
<br>
<br><br>

<label for="selectDataset">Selecione ou crie um dataset: </label>

<select name="selectDataset" [(ngModel)]="selectedDataset" >
  <!-- <option value=null >Selecione ou crie um dataset</option> -->
  <option *ngFor="let c of datasets" [ngValue]="c">{{c?.id}}</option>
</select>
<br><br>
<button *ngIf="selectedDataset"
(click)="mostrarDataset($event)" >Mostrar dataset</button>
<br>
<button>Treinar rede</button>
 
<button>Testar rede</button>

<br><br><br>

<!-- add image to dataset -->
<!-- <button *ngIf="selectedDataset" (click)="addDatum($event)" >Adicionar nova imagem ao dataset</button><br><br> -->
<app-drawing-square *ngIf="selectedDataset"
  (returnDatum$)= "addDatum($event)">
</app-drawing-square>