<pai-tabs>
  <pai-tab tabTitle="Datasets">
    <br>
    <div  [hidden]="!datasets?.length" class="row">
      <div class="col">
        <label for="selectDataset">Selecione ou crie um dataset: </label> 
        <select name="selectDataset" [(ngModel)]="selectedDataset" >
          <!-- <option value=null >Selecione ou crie um dataset</option> -->
          <option *ngFor="let c of datasets" [ngValue]="c">{{c?.id}}</option>
        </select>
        
      </div>
      <div class="col">
      </div>
      <br><br>
    </div>
    <div class="row">
      <div class="col-4">
        <label class="label label-default"  for="newDataset">Insira o nome: </label>
        <input name="newDataset" type="text" 
        [(ngModel)]="newName">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <button 
        class="btn btn-primary"
        (click)="criarDataset($event)" >Criar dataset</button>
      </div>
      <div class="col">
        <button  [hidden]="!selectedDataset"
        class="btn btn-primary"
        (click)="copiarDataset($event)" >Copiar dataset</button>
      </div>
      <div class="col">
        <button 
        class="btn btn-primary"
        *ngIf="selectedDataset || startedDataset"
        (click)="mostrarDataset($event)" >Mostrar dataset</button>
      </div>
      <div class="col">
        <button 
        class="btn btn-primary"
        *ngIf="startedDataset?.data[0]"
        (click)="saveDataset($event)" >Salvar dataset</button>
      </div>
    </div>

    <div class="row"
    *ngIf="startedDataset || selectedDataset"
    >
      <!-- add image to dataset -->
      <!-- <button *ngIf="selectedDataset" (click)="addDatum($event)" >Adicionar nova imagem ao dataset</button><br><br> -->
      <app-drawing-square 
      (returnDatum$)= "addDatum($event)">
      </app-drawing-square>
    </div>

    <div class="row"
    *ngIf="showData && selectedDataset"
    >
      <!-- add image to dataset -->
      <!-- <button *ngIf="selectedDataset" (click)="addDatum($event)" >Adicionar nova imagem ao dataset</button><br><br> -->
      <div class="col-4" 
      *ngFor="let c of (selectedDataset.data)"
      >
        <app-drawing-square
        [img-input] = "c"
        (returnDatum$)= "addDatum($event)">
        </app-drawing-square>
      </div>
    </div>
    
  </pai-tab>
  <pai-tab tabTitle="Rede Neural">
    <br>
    <div  [hidden]="!datasets?.length" class="row">
      <div class="col">
        <label for="netDataset">Selecione um dataset: </label> 
        <select name="netDataset" [(ngModel)]="this.imgService.netDataset" >
          <!-- <option value=null >Selecione ou crie um dataset</option> -->
          <option *ngFor="let c of datasets" [ngValue]="c">{{c?.id}}</option>
        </select>
        
      </div>
      <div class="col">
      </div>
      <br><br>
    </div>
    <div class="row">
      <!-- <div class="col-2">
        <button
        class="btn btn-primary"
        (click)="treinar($event)"
        >Treinar rede</button>
      </div>
      <div class="col-2">
        <button
        class="btn btn-primary"
        (click)="testar($event)"
        >Testar rede</button>
      </div> -->
      <!-- <div class="col-2">
        <label class="label label-default"  for="theta">Theta: </label>
        <input name="theta" type="text" 
        [(ngModel)]="theta">
      </div>
      <div class="col-2">
        <label class="label label-default"  for="leaningRate">Taxa de aprendizado: </label>
        <input name="leaningRate" type="text" 
        [(ngModel)]="leaningRate">
      </div> -->
    </div>
    <div class="col">
      <app-simulations></app-simulations>
    </div>
    <br>
    
    <div *ngIf="imgService.result" class="row">
      
      <p>{{imgService.result|json}}</p>       
    </div>

    <br>
    
    <div class="row">
      <div class="col-6" 
      *ngFor="let c of this.imgService.lineChartConfigs; let i = index"
      >
        <app-line-chart 
        
        [config] = "c"
        [datasetsConfigs] = "this.imgService.lineChartSetsConfigs[i]"
        [(datasetsMap)] = "this.imgService.lineChartsSets[i]"
        [updateFlag] = "this.imgService.lineChartUpdate"
        ></app-line-chart>

      </div>
      
    </div>

    <!-- <div *ngIf="imgService.trainData" class="row">
      
      <p>{{imgService.trainData|json}}</p>       
    </div> -->

  </pai-tab>
</pai-tabs>